.spinner {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
}

.spinner:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgba(67, 255, 164, .7);
  border-color: rgba(67, 255, 164, .7) transparent rgba(67, 255, 164, .7) transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}